.button {
    cursor: pointer;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
    border: 1px solid rgb(16, 182, 233);
    background-color: rgb(16, 182, 233);
    border-radius: 4px;
    padding: 12px 20px;
  }
  
  .button:hover {
    border-color: rgb(0, 151, 197);
    background-color:  rgb(0, 151, 197);
    transition: .3s ease-in-out; 
  }
  