.picture {
    width: 21vw;
    height: 21vw;
    border-radius: 15px;
    overflow: hidden; }
    /* width: 22vw;
    height: 22vw;
    overflow: hidden;
    align-self: stretch;
    border-radius: 15px; */
/* } */
.picture:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);}