.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    
}
.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    font-size: 45px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    opacity: 0.7; }
.close:hover {
    opacity: 1;
    transition: .5s ease-in-out;  }
.preview {
    display: inline-block;
    margin: 100px 0;
    background: #fff;
    width: 800px; }
.image {
    display: block;
    cursor: pointer; }
.controls {
    font-weight: bold;
    font-size: 14px;
    color: rgb(90, 90, 90); }
.comments, .like {
    padding: 10px 30px;
    line-height: 40px; }
.comments {
    margin-right: 150px;
    text-align: left; }
.like {
    float: right;
    width: 150px;
    text-align: right; }
.likes__count {
    cursor: pointer; }
.likes__count:before,
.likes__count__liked:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("/img/icon-heart-sprite.gif") no-repeat 0 0;
    cursor: pointer;
    opacity: 0.5; }
.likes__count__liked:before {
    background-position-x: -18px; }
