.tab,
.checked {
    padding: 20px 0;
    text-align: center;
    width: 300px;
    font-size: 22px;
    cursor: pointer;
    box-sizing: border-box;
    color: rgb(120, 120, 120);
    transition: .3s ease-in-out; 

}

.checked {
    color: rgb(16, 182, 233);
    font-weight: 600;

    
}

.tab:hover,
.checked:hover {
    color: rgb(16, 182, 233);
    
}