.form {
    border-top: 1px solid rgb(190, 190, 190);
    padding: 20px;
    padding-top: 40px;
    width: 100%;
    box-sizing: border-box;
}
.text {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-color: rgb(250, 250, 250);
}