.cards {
    display: grid;
    padding: 32px;
    grid-template-columns: repeat(auto-fill, 22vw);
    grid-template-rows: repeat(auto-fill, 22vw);
    height: 66vw;
    justify-content: center;
    background-color: #fff;
    margin-top: 20px; }

    /* display: flex;
    height: 68vw;
    flex-wrap: wrap;
    background-color: #fff;
    margin-top: 20px;
    padding: 20px;
    justify-content: space-between;} */
.container {
    width: 70%;
    margin: 0 auto; }