.comment {
    border-top: 1px solid rgb(190, 190, 190);
    display: flex;
    padding: 30px;
    align-items: center;
    text-align: left;
}
.avatar {
    background-color: grey;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 20px;
}
.name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(100, 100, 100);
}

.text {
    font-size: 16px;
    color: rgb(120, 120, 120);
}