.form {
    padding: 50px;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    color: rgb(100, 100, 100);
    background-color: #fff; }
.input {
    font-size: 22px;
    padding: 10px;}
.title {
    font-size: 24px;
}
.error {
    font-size: 22px;
    padding: 10px;
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.100);
}

 