.header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    background: rgb(255, 255, 255); }
.wrapper {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }
.header__profile {
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center; }
.name {
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-size: 18px; }
.header__profile img {
    border-radius: 50%; }
.header__profile img:hover {
    transition: .2s ease-in-out; 
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3); }
  