.container {
    width: 70%;
    margin: 0 auto; }
.info {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 300px;
    padding: 30px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;}
.photo {
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    margin-right: 100px;
    overflow: hidden; }
.text {
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
.name {
    align-self: stretch;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(100, 100, 100); }
.about {
    align-self: stretch;
    min-height: 100px;
    font-size: 18px;
    margin-bottom: 30px;
    color: rgb(120, 120, 120);
 }