@charset "UTF-8";
html,
body {
  margin: 0;
  padding: 0;
  padding-top: 40px;
  transition: .5s ease-in-out; }

html {
  min-height: 100%;
  background: rgb(230, 230, 230); }

body {
  position: relative;
  min-width: 980px;
  min-height: 900px;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif; }
/* 
.container {
  width: 70%;
  margin: 0 auto; } */

.hidden {
  display: none; }
